<p style="color: green"><%= notice %></p>

<%= render @coach %>

<div>
  <h1>Choose the time of your appointment</h1>
  <% days_of_the_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %>

  <% days_of_the_week.each do |day| %>
    <h1><%= day %></h1>
     <% @coach.appointments.each do |appointment| %>
      <%# Show available appointments if appointment has no user %>
      <% if appointment.day == day && appointment.user_id == nil%> 
        <%= form_with model: [@user, appointment] do |form| %>
          <%= form.text_field :user_id, value: @user.id %>
          <%= form.text_field :coach_id %> 
          <%= form.text_field :time %>
          <%= form.submit%>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <br><br>
  <%= link_to "Edit this coach", edit_coach_path(@coach) %> |
  <%= link_to "Back to coaches", coaches_path %>

  <%= button_to "Destroy this coach", @coach, method: :delete %>
</div>
