<p style="color: green"><%= notice %></p>

<%= render @coach %>

<div>
  
  <h1>Monday</h1>
  <%= day_times("Monday", @coach.appointments) %>


  <h1>Tuesday</h1>
  <%= day_times("Tuesday", @coach.appointments) %>
  <h1>Wednesday</h1>
  <%= day_times("Wednesday", @coach.appointments) %>
  <h1>Thursday</h1>
  <%= day_times("Thursday", @coach.appointments) %>
  <h1>Friday</h1>
  <%= day_times("Friday", @coach.appointments) %>
  <h1>Saturday</h1>
  <%= day_times("Saturday", @coach.appointments) %>
  <h1>Sunday</h1>
  <%= day_times("Sunday", @coach.appointments) %>
  <br><br>
  <%= link_to "Edit this coach", edit_coach_path(@coach) %> |
  <%= link_to "Back to coaches", coaches_path %>

  <%= button_to "Destroy this coach", @coach, method: :delete %>
</div>
