<p style="color: green"><%= notice %></p>

<%= render @coach %>

<div>
  <%= link_to "Edit this coach", edit_coach_path(@coach) %> |
  <%= link_to "Back to coaches", coaches_path %>

  <%= button_to "Destroy this coach", @coach, method: :delete %>
</div>
