<div id="<%= dom_id appointment %>">
  <p>
    <strong>User:</strong>
    <%= User.find_by(id: appointment.user_id).name %>
  </p>

  <p>
    <strong>Coach:</strong>
    <%= Coach.find_by(id: appointment.coach_id).name %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= appointment.day %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= appointment.time %>
  </p>

</div>
